*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Montserrat;
}
html, body {
    width: 100vw;
    overflow-x: hidden;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: Montserrat;
    font-style: italic;
    -webkit-box-shadow: 0px 0px 27px -17px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 27px -17px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 27px -17px rgba(66, 68, 90, 1);
    z-index: 10;
    position: fixed;
    width: 100vw;
    background: rgba(255,255,255,0.9);
}

.logo{
    color: #121212;
    font-size: 25px;
    letter-spacing: 5px;
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #22A7CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: #121212; 
    text-decoration: none;
    letter-spacing: 3px;
}
.nav-links a:hover{
    color: #22A7CF;
}
.nav-links a .highlight{
    color: #22A7CF;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #121212;
    transition: all 0.3s ease;
}

.burger{
    display: none;
}
.disclaimer{
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
}
@media screen and (max-width:980px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(255,255,255,0.95);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 1;
    }
    .nav-links li{
        opacity: 0;
        margin: 10px 0;
        padding: 0px 0; /* Zwiększenie obszaru klikalnego poprzez padding */
        width: 100%; /* Ustawienie pełnej szerokości */
        text-align: center; /* Wycentrowanie tekstu */
    }
    .nav-links a {
        padding: 20vh 50px; /* Zwiększenie przestrzeni wewnątrz linka */
        width: 100%; /* Ustawienie pełnej szerokości */
        display: block; /* Upewnienie się, że link zajmuje cały obszar elementu li */
        text-align: center; /* Wycentrowanie tekstu */
        transition: font-size 0.2s;
    }
    .nav-links a:hover{
        font-size: 20px;
        transition: font-size 0.2s;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .cennik{
        font-size: 15px;
    }
    .disclaimer{
        font-size: 10px;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* @keyframes navLinkFadeReverse {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(50px);
    }
} */

@media screen and (max-width:980px){
    .logo{
        font-size: 15px;
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.content{
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 15vh;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
}
h2{
    display: flex;
    justify-content: center;
    padding-bottom: 1vh;
}
.cennik{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 2;
}
.highlight {
    color: red;
    font-weight: bold;
    display: inline;
    margin: 0;
    padding: 0;
    line-height: normal;
    vertical-align: middle; /* lub spróbuj top/bottom, jeśli dalej jest problem */
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #22A7CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.highlight.h1{
    background: #121FCF;
    background: linear-gradient(to right, #0da319 0%, #a9c600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.highlight.h2{
    background: #121FCF;
    background: linear-gradient(to right, #44cb00 0%, #d19200 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.highlight.h3{
    background: #121FCF;
    background: linear-gradient(to right, #b23bfc 0%, #ff29b8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Galeria */
.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    
}
.portrait{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 100px;
    
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s ease-in;
}
.img-gallery img:hover{
    transform: scale(0.9) rotate(-8deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136, 0.2);
    transition: transform 0.2s ease-in;
}

.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center; 
    z-index: 100;
}

.full-img img{
    width: 90%;
    max-width: 500px;
    pointer-events: none;
}
.x{
    position: absolute;
    top: 5%;
    right: 5%;
}
.x div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
}
.x:hover{
    cursor: pointer;
}
.line4{
    transform: rotate(-45deg) translate(-5px,6px);
}
.line5{
    opacity: 0;
}
.line6{
    transform: rotate(45deg) translate(-5px,-6px);
}

.choice {
    display: flex;
    justify-content: space-around;
    position: absolute;
    height: 92vh;
    top: 8vh;
}
.choice div {
    padding-top: 42vh;
    padding-bottom: 48vh;
    width: 50vw;
    text-align: center;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 5px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.port {
    background: linear-gradient(79deg, #551bd4 0%, #f58529 100%);
    -webkit-background-clip: text;
    background-clip: text;
    border-right: 1px double #e2e2e2;
}
.prod {
    background: linear-gradient(270deg, rgba(26,190,208,1) 0%, rgba(25,196,78,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    border-left: 1px double #e2e2e2;
}
.prod .port{
    height: 92vh;
    top: 8vh;
}
.choice:hover {
    cursor: pointer;
}
.port:hover, .prod:hover {
    font-size: 50px;
    letter-spacing: 5px;
    transition: font-size 0.1s ;
}
/* .port:hover{
    text-shadow: 0px 0px 150px rgb(186, 40, 186);
}
.prod:hover{
    text-shadow: 0px 0px 150px rgb(55, 197, 33);
} */
.headerText {
    display: inline-block;
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
/* .headerText:hover {
    transform: scale(2.1);
    
} */
h3 {
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    padding-top: 20vh;
}
@media screen and (max-width:980px){
    .port:hover, .prod:hover {
        font-size: 25px;
        letter-spacing: 5px;
        transition: transform 0.2s ease-in;
    }
}
